/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1c1c1c;
    color: #fff;
    position: fixed;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sidebar h2 span {
    color: #d13b22;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    background-color: rgb(227,44,3);
    border-radius: 4px;
    transform: scale(1.05);
}

/* Nav - Lien sélectionné */
.sidebar nav ul li a.active {
    background-color: rgb(150, 30, 3); /* Orange */
    border-radius: 4px;
    transform: scale(1.05);
}
/* Conteneur du formulaire */
.form-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Groupes de formulaire */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}

/* Effets de focus */
.form-group input:focus,
.form-group textarea:focus {
    border-color: rgb(255, 124, 95);
    outline: none;
    box-shadow: 0 0 5px rgba(255, 117, 86, 0.15);
}

/* Bouton d'envoi */
.btn {
    background-color: rgb(227, 44, 3);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgb(225, 91, 61);
}
