body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    font-size: 14px;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1c1c1c;
    color: #fff;
    position: fixed;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sidebar h2 span {
    color: #d13b22;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    background-color: rgb(227, 44, 3);
    border-radius: 4px;
    transform: scale(1.05);
}

.sidebar nav ul li a.active {
    background-color: rgb(150, 30, 3);
    border-radius: 4px;
    transform: scale(1.05);
}

/* Main content */
.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

h1 {
    font-size: 24px;
    color: #1c1c1c;
    margin-bottom: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

table thead {
    background-color: rgb(150, 30, 3);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table tbody td {
    font-size: 14px;
    color: #333;
}

/* Button styles */
.btn {
    border: none;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}
.top{
    display: flex;
}
.btn_creercompte{
    background-color: #d13b22;
    margin-left: 500px;
    margin-top: 20px;
    height: 40px;
    width: 150px;
}
.btn-cancel,
.btn-save{
    background-color: #d13b22;
}

.btn-edit {
    background-color: #d13b22;
}
.btn_creercompte:hover,
.btn-edit:hover {
    background-color: #b7311c;
    transform: scale(1.05);
}

.btn-delete {
    background-color: rgb(227, 44, 3);
}

.btn-delete:hover {
    background-color: rgb(190, 37, 3);
    transform: scale(1.05);
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #1c1c1c;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 250px;
    width: calc(100% - 250px);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
